# Dataset (large file)
data/spotify.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Streamlit cache
.streamlit/

# Temporary files
*.log

kaggle.json
